@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
button{
    border: none;
}
a{
    list-style: none;
    text-decoration: none;
}
:root{
    --primary-color:#21B573;
}
.primary-button{

padding: 6px 28px;
gap: 10px;

background: #21B573;
border-radius: 33px;
}
/*********************header ************************** */
.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
    line-height: 24px;
    font-size: 16px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--primary-color);
  
}
.hero-section{
    background: #F0FFF0;
}